@page
@{
    ViewBag.Title = "Product Management";
    Layout = "_Layout";
}

@section Styles
{
    <!--dont call from CDN because CSS is bundled-->
}

<div id="loader"></div>

<section aurelia-app="main" start="apps/administration-spa/app">
</section>

@section Scripts
{
    <partial name="_AureliaBundleInclude" />
}