@page
@{
    ViewData["Title"] = "Home Page";
}

<section>

    <div class="alert alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Login to product management or start shopping!
    </div>
</section>


