@page
@{
    ViewBag.Title = "Shopping";
    Layout = "_Layout";
}

@section Styles
{
    <!--dont call from CDN because CSS is bundled-->
}

<div id="loader"></div>

<section aurelia-app="main" start="apps/shopping-spa/app">
</section>

@section Scripts
{
    <partial name="_AureliaBundleInclude" />
}